h1 {
    color: red;
    font-size: 22px;
}

.myBtnStyle {
    font-size: 33px;
}
header{
    margin: auto;
    
    height: 75px;
    background-color: rgb(202, 97, 97);
}
.img {
    margin: 0;
    border: 10px;
    border-style:dashed;
    border-color: black;
}
.ssil {
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    text-align:center;
    margin:0;
}
.ssil:hover{
    color: black;
    }